/* variables */

:root {
    --main-size: 10px;
}

/* éléments de l'accueil */

body {
    font-family: Helvetica, sans-serif;
}

button {
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
}

/* container du json */

.code {
    height: 40vh;
    border: 1px solid black;
    overflow: auto;
}

/* centrer le container du maze */

.flex {
    display: flex;
}

/* container du maze */

.container {
    user-select: none;
    display: inline-block;
    border: 1px solid black;
    margin: 0 auto;
}

/* pas d'espace entre les lignes du maze + flex pour optimiser */

.container .ligne {
    margin: 0;
    display: flex;
}

/* blocs du maze */

.bloc {
    height: var(--main-size);
    width: var(--main-size);
    background: black;
}

/* clignotement de .depart

@keyframes blinkingDepart {
    0% { background: green }
    50% { background: transparent }
    100% { background: green }
}

*/

.depart {
    height: var(--main-size);
    width: var(--main-size);
    position: relative;
    background: green;
    /* animation: blinkingDepart 1s infinite; */
}

.arrivee {
    height: var(--main-size);
    width: var(--main-size);
    background: red;
}

.chemin {
    height: var(--main-size);
    width: var(--main-size);
    background: white;
}